In [1]:
import pandas as pd

In [16]:
gun_death = pd.read_csv("./interactive_data.csv", index_col=0)
gun_death.head(5)

,Intent,Gender,Age,Race,Deaths,Population,Rate
1,None selected,None selected,None selected,None selected,33599,316299978,10.6
2,None selected,None selected,None selected,White,22079,197369634,11.2
3,None selected,None selected,None selected,Black,7765,38896382,20.0
4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

In [17]:
for col in gun_death:
    print(gun_death[col].unique())

['None selected' 'Suicide' 'Homicide' 'Accident' 'Unknown']
['None selected' 'Female' 'Male']
['None selected' 'Under 15' '15 - 34' '35 - 64' '65+' '5']
['None selected' 'White' 'Black' 'Hispanic' 'Asian/Pacific Islander'
 'Other']
[33599 22079  7765  3007   442   306   427   242   109    63     7     5
 12723  5244  5297  1822   200   160 14874 11396  2164   988   203   123
  5569  5192   194   133    32    18     6     4     1     0  4816  3562
   773   358    81    42    64    25     2  1521   835   441   191    30
    23  2565  2105   270   131    44    16   606   558    29    11 28783
 18517  6993  2650   361   263   303   179    77    39 11202  4409  4855
  1631   170   136 12309  9291  1894   858   159   107  4964  4634   165
   122    26 21058 18457  1111  1057   248   185   139   117    12     3
  5061  3878   510   479   106    88 10764  9634   476   456   115    82
  5092  4827    24    15  2896  2606   121   116    33    21    19   662
   539    55    14    10  1773  1630    65    52   436   417 18162 15852
   989   941   215   164   114    98     9  4399  3339   466   424    92
    78  8991  8005   411   405    99    71  4656   104    22 11726  3049
  6503  1878   186   221    45  7335  1180  4701  1296    66  3792  1505
  1652   514    84    37   375   274    69  1791   860   633   232    47
    20    85    38    27   815   267   389    13   733   426   199    76
   158   129  9935  2189  5871  1646   140    89    50  6520   913  4312
  1166    54  3059  1079  1453   438    57    31   217   145    51   546
   377    48    59   210    60   206    73    28   474   323    43   189
   102    56   173   137   269   195     8    70    17   113    91   213
   153    35    94    87]
[316299978 197369634  38896382  54049078  16315561   9669323  61085868
  31538832   8323603  14994449   2825155   3403829  86611149  48773131
  11893789  17960261   4950398   3033571 123935928  81870182  14848291
  17777422   6797707   2642326  44667034  35187489   3830699   3316947
   1742301    589598         0 160668110 100162288  20362385  26670924
   8589119   4883395  29836679  15355910   4095428   7330024   1393440
   1661877  42593280  23942099   6023846   8580577   2535358   1511400
  63125058  41284839   7932606   8863203   3668172   1376239  25113094
  19579439   2310506   1897119    992150    333879 155631868  97207346
  18533996  27378155   7726442   4785929  31249189  16182922   4228176
   7664425   1431715   1741952  44017869  24831032   5869943   9379683
   2415040   1522171  60810870  40585343   6915685   8914219   3129535
   1266087  19553940  15608050   1520192   1419828    750151    255719]
[10.6 11.2 20.   5.6  2.7  3.2  0.7  0.8  1.3  0.4  0.2  0.1 14.7 10.8
 44.5 10.1  4.   5.3 12.  13.9 14.6  3.   4.7 12.5 14.8  5.1  1.8  3.1
  inf  nan  3.6  3.8  0.9  0.3  3.5  7.3  2.2  1.2  1.5  4.1  3.4  2.4
  2.8  0.6 18.5 19.  37.7  9.7  5.5  1.   1.1  0.5 25.4 17.8 82.7 17.4
  7.   8.9 20.2 22.9 27.4  9.6  8.5 29.7 10.9  8.6  6.3  6.7  9.4  2.9
  2.   1.9  0.   5.8  8.   4.3  2.1  8.7 11.8  2.6  1.7 11.4 13.7  3.3
  1.4  2.5  1.6  2.3  3.9 11.7 16.3 10.  13.4  7.9  4.5 19.7  5.9 23.8
 28.2  3.7 16.7 39.5  7.2 11.1  6.5  6.4 31.7  6.  73.5 12.4  5.  21.
  4.9]

In [29]:
def get_count(intent="None selected", gender="None selected", age="None selected", race="None selected"):
    count = gun_death.loc[(gun_death["Intent"]==intent)&(gun_death["Gender"]==gender)&(gun_death["Age"]==age)&(gun_death["Race"]==race)]["Deaths"].values[0]
    return count

In [30]:
total_deaths = get_count()
total_deaths

33599

In [33]:
suicides = get_count(intent="Suicide")
print(suicides/total_deaths)

0.6267448435965356

In [34]:
male_suicides = get_count(intent="Suicide",gender="Male")
print(male_suicides/suicides)

0.8624750688574414

In [35]:
homicide = get_count(intent="Homicide")
print(homicide/total_deaths)

0.3489984820976815

In [38]:
young_male_homicide = get_count(intent="Homicide",gender="Male", age='15 - 34')
black_young_male_homicide = get_count(intent="Homicide",gender="Male", age='15 - 34', race="Black")
print(black_young_male_homicide/young_male_homicide)

0.6613496932515337

In [39]:
female_homicide = get_count(intent="Homicide",gender="Female")
print(female_homicide/homicide)

0.15273750639604297